<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cb4"
    android:versionCode="4"
    android:versionName="2.0">

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />
    <uses-feature
        android:name="android.hardware.vulkan.version"
        android:required="true"
        android:version="0x00010000" />

    <application
        android:label="Cubic Battle 4"
        android:icon="@mipmap/ic_launcher"
        android:hasCode="false"
        android:extractNativeLibs="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <activity
            android:name="android.app.NativeActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|smallestScreenSize|screenLayout|navigation|uiMode|density|fontScale|layoutDirection|locale"
            android:screenOrientation="landscape"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="cb_game" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
